body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

body {
  background-position:absolute ;
  background: url(./img/bg01.jpg) no-repeat center center fixed;
  background-size: cover;
  color:#39A7FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  padding-top: 4rem;
  padding-bottom: 5rem;
  gap: 1rem;
}
  .p-tahu{
    color:#39A7FF;
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #39A7FF;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
    -webkit-text-stroke: 1px azure;
      -webkit-text-fill-color: #39A7FF;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
        
  }


.bg-text-animation {
  position: absolute;
  top: 5rem;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 100;
  -webkit-text-stroke: 2px #FFEED9;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: -1;
  user-select: none;
}

.my-photo {
  width: 10rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.sosmed i {
  font-size: 1.5rem;
  color: #87C4FF;
}

.sosmed i:hover {
  color: white;
}

.sosmed a:not(:last-child) {
  margin-right: 1rem;
}

ul {
  width: 80%;
  max-width: 40rem;
}

ul li {
  list-style: none;
}

ul.links li:not(:last-child) {
  margin-bottom: 1rem;
}
.my-photo {
  margin-top: 1rem;
}
.my-photo {
box-shadow: 0px 0px 20px #39A7FF;
}
}
.links {
  margin-top: 1rem;
}

.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E0F4FF;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 8px 10px 0 #39A7FF;
  border: 2px solid #FFEED9;
}

.link-card:hover {
  border: 2px solid white;
}

.links .link-icon {
  background-image: linear-gradient(to top, #87C4FF, #E0F4FF);
  padding: 0.5rem;
  border-radius: 10px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links .link-icon i {
  color: white;
}

.links .link-text {
  text-align: center;
}

.link-action {
  color: #FFEED9;
  cursor: pointer;
  padding: 10px;
}

.copyright {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #FFEED9;
  font-size: 0.75rem;
}

.copyright img {
  width: 2rem;
  opacity: 0.4;
}

#toast {
  width: max-content;
  position: fixed;
  top: 0;
}

.toast-container {
  background-color: white;
  color: #0f0f25;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  animation: muncul 300ms ease-in-out;
}

.toast-gone {
  animation: hilang 1s ease-in-out 1s;
}

@keyframes muncul {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hilang {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
